{{ 'custom-text-with-image.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 769px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding custom-text-with-image">
  <div class="page-width">
    <div class="custom-text-with-image__wrapper"> 
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'image' -%}
            <style>
              .custom-text-with-image__image--{{ block.id }} {
                flex-basis: {{ block.settings.image_width }}%;
              }
            </style>

            <div class="custom-text-with-image__image custom-text-with-image__image--{{ block.id }}">
              {% liquid
                if block.settings.image_mobile != blank
                  assign imageDesctop = 'custom-text-with-image__image--desktop'
                endif
              %}

              {% if block.settings.image != blank %}
                {{
                  block.settings.image
                  | image_url: width: 3200
                  | image_tag:
                    widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
                    alt: block.settings.image.alt,
                    class: imageDesctop
                }}
              {% endif %}

              {% if block.settings.image_mobile != blank %}
                {{
                  block.settings.image_mobile
                  | image_url: width: 3200
                  | image_tag:
                    widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200',
                    alt: block.settings.image_mobile.alt,
                    class: "custom-text-with-image__image--mobile"
                }}
              {% endif %}
            </div>


          {%- when 'text' -%}
            <style>
              .custom-text-with-image__text--{{ block.id }} {
                text-align: {{ block.settings.alignment }};
              }
            </style>

            <div class="custom-text-with-image__text custom-text-with-image__text--{{ block.id }}">
              {% if block.settings.heading != blank %}
                <h3 class="font-h2">{{ block.settings.heading }}</h3>
              {% endif %}

              {% if block.settings.description != blank %}
                <div class="font-paragraph">
                  {{ block.settings.description }}
                </div>
              {% endif %}
              

              {% if block.settings.button_text != blank %}
                <a href="{{ block.settings.button_url }}">{{ block.settings.button_text }}</a>
              {% endif %}
            </div>
            
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Custom text with image",
    "blocks": [
      {
        "name": "Image",
        "type": "image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Image mobile"
          },
          {
            "type": "range",
            "id": "image_width",
            "min": 10,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Image width",
            "default": 40
          }
        ]
      },
      {
        "name": "Text",
        "type": "text",
        "settings": [
          {
            "type": "text_alignment",
            "id": "alignment",
            "label": "Text alignment",
            "default": "center"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>Description</p>"
          },
          {
            "type": "header",
            "content": "Button"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button text",
            "default": "Read more"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "Custom text with image"
      }
    ]
  }
{% endschema %}

