{{ 'custom-hero-section.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  {% if section.settings.image_mobile != blank %}
    .custom-hero__image {
      display: none;
    }
  {% endif %}

  @media screen and (min-width: 769px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }

    .custom-hero__image--mobile {
      display: none;
    }

    .custom-hero__image {
      display: block;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding custom-hero">

  <div class="custom-hero__wrapper">
    {% if section.settings.image != blank %}
      <img
        srcset="{%- if section.settings.image.width >= 165 -%}{{ section.settings.image | image_url: width: 165 }} 165w,{%- endif -%}
          {%- if section.settings.image.width >= 360 -%}{{ section.settings.image | image_url: width: 360 }} 360w,{%- endif -%}
          {%- if section.settings.image.width >= 533 -%}{{ section.settings.image | image_url: width: 533 }} 533w,{%- endif -%}
          {%- if section.settings.image.width >= 720 -%}{{ section.settings.image | image_url: width: 720 }} 720w,{%- endif -%}
          {%- if section.settings.image.width >= 1000 -%}{{ section.settings.image | image_url: width: 1000 }} 1000w,{%- endif -%}
          {%- if section.settings.image.width >= 1500 -%}{{ section.settings.image | image_url: width: 1500 }} 1500w,{%- endif -%}
          {{ section.settings.image | image_url }} {{ section.settings.image.width }}w"
        src="{{ section.settings.image | image_url: width: 150 }}"
        alt="{{ section.settings.image.alt | escape }}"
        loading="lazy"
        width="{{ section.settings.image.width }}"
        height="{{ section.settings.image.height }}"
        class="custom-hero__image"
      >
    {% endif %}
  
    {% if section.settings.image_mobile != blank %}
      <img
        srcset="{%- if section.settings.image_mobile.width >= 165 -%}{{ section.settings.image_mobile | image_url: width: 165 }} 165w,{%- endif -%}
          {%- if section.settings.image_mobile.width >= 360 -%}{{ section.settings.image_mobile | image_url: width: 360 }} 360w,{%- endif -%}
          {%- if section.settings.image_mobile.width >= 533 -%}{{ section.settings.image_mobile | image_url: width: 533 }} 533w,{%- endif -%}
          {%- if section.settings.image_mobile.width >= 720 -%}{{ section.settings.image_mobile | image_url: width: 720 }} 720w,{%- endif -%}
          {%- if section.settings.image_mobile.width >= 1000 -%}{{ section.settings.image_mobile | image_url: width: 1000 }} 1000w,{%- endif -%}
          {%- if section.settings.image_mobile.width >= 1500 -%}{{ section.settings.image_mobile | image_url: width: 1500 }} 1500w,{%- endif -%}
          {{ section.settings.image_mobile | image_url }} {{ section.settings.image_mobile.width }}w"
        src="{{ section.settings.image_mobile | image_url: width: 150 }}"
        alt="{{ section.settings.image_mobile.alt | escape }}"
        loading="lazy"
        width="{{ section.settings.image_mobile.width }}"
        height="{{ section.settings.image_mobile.height }}"
        class="custom-hero__image--mobile"
      >
    {% endif %}

    <div class="custom-hero__content">
      {% if section.settings.heading != blank %}
        <h2 class="font-h1">{{ section.settings.heading }}</h2>
      {% endif %}
    
      {% if section.settings.text_url != blank %}
        <a class="btn--white" href="{{ section.settings.link_url }}">{{ section.settings.text_url }}</a>
      {% endif %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Custom hero section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "image_picker",
        "id": "image_mobile",
        "label": "Image mobile"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Heading"
      },
      {
        "type": "header",
        "content": "Link"
      },
      {
        "type": "text",
        "id": "text_url",
        "label": "Text URL",
        "default": "Discover more"
      },
      {
        "type": "url",
        "id": "link_url",
        "label": "Link URL"
      },
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "Custom hero section"
      }
    ]
  }
{% endschema %}

