{{ 'custom-text-with-image.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 769px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding">

</div>

{% schema %}
  {
    "name": "Custom text with image",
    "blocks": [
      {
        "name": "Image",
        "type": "image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "image_picker",
            "id": "image_mobile",
            "label": "Image mobile"
          },
          {
            "type": "range",
            "id": "image_width",
            "min": 10,
            "max": 100,
            "step": 1,
            "unit": "%",
            "label": "Image width",
            "default": 40
          }
        ]
      },
      {
        "name": "Text",
        "type": "text",
        "settings": [
          {
            "type": "text_alignment",
            "id": "alignment",
            "label": "Text alignment",
            "default": "center"
          },
          {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "Heading"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>Description</p>"
          },
          {
            "type": "header",
            "content": "Button"
          },
          {
            "type": "text",
            "id": "button_text",
            "label": "Button text",
            "default": "Read more"
          },
          {
            "type": "url",
            "id": "button_url",
            "label": "Button URL"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "Custom text with image"
      }
    ]
  }
{% endschema %}

