{{ 'section-contact-form-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding ">
  <div class="page-width">
    <div class="section-contact-page">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'menu' %}
            <div class="section-contact-page__menu">
              <ul class="page-menu">
                {% for link in block.settings.menu.links %}
                  <li>
                    <a
                      href="{{ link.url }}"
                      class="font-menu"
                    >
                      {{ link.title }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>

          {% when 'form' %}
            <div class="section-contact-page__form">
              <div class="contact-page__content">
                {% if block.settings.heding != blank %}
                  <h2 class="font-h2">{{ block.settings.heding }}</h2>
                {% endif %}

                <div class="font-paragraph">
                  {{ block.settings.description }}
                </div>
              </div>
            </div>
            
        {% endcase %}
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Contact form",
    "blocks": [
      {
        "name": "Menu",
        "type": "menu",
        "limit": 1,
        "settings": [
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu"
          }
        ]
      },
      {
        "name": "Form",
        "type": "form",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "heding",
            "label": "Heading",
            "default": "we are glad to help"
          },
          {
            "type": "richtext",
            "id": "description",
            "label": "Description",
            "default": "<p>Our Client Advisors are ready to assist you. Fill in the below form and we will get back to you the soonest.</p>"
          }
        ]
      }
    ],
    "settings": [
      {
        "type": "header",
        "content": "t:sections.all.padding.section_padding_heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 200,
        "step": 4,
        "unit": "px",
        "label": "t:sections.all.padding.padding_bottom",
        "default": 36
      }
    ],
    "presets": [
      {
        "name": "Contact form"
      }
    ]
  }
{% endschema %}

